.login-container {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

/* ----- SECCIÓN IZQUIERDA ----- */
.login-info {
  flex: 1;
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-info h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.login-info h2 {
  font-weight: 300;
  margin-bottom: 20px;
}

.login-info p {
  max-width: 500px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.login-info ul {
  list-style: none;
  margin-bottom: 30px;
}

.login-info li {
  margin-bottom: 10px;
}

.institution {
  font-size: 14px;
  opacity: 0.9;
}

/* ----- FORMULARIO ----- */
.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form form {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.login-form h3 {
  font-size: 26px;
  margin-bottom: 5px;
}

.login-form p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.login-form label {
  font-size: 14px;
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 18px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background: #1e40af;
}

.login-footer {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  color: #666;
}

/* ----- RESPONSIVE ----- */
@media (max-width: 768px) {
  .login-info {
    display: none;
  }

  .login-container {
    justify-content: center;
  }
}

.input-error {
  border: 1px solid #dc2626;
}

.error-text {
  display: block;
  margin-bottom: 15px;
  color: #dc2626;
  font-size: 13px;
}

/* ===== MODAL INFORMACIÓN ===== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 14px;
  width: 90%;
  max-width: 520px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.modal h3 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.modal p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #333;
}

.modal ol {
  margin-left: 20px;
  margin-bottom: 15px;
}

.modal-warning {
  font-size: 14px;
  background: #f1f5ff;
  padding: 12px;
  border-radius: 10px;
  color: #374151;
}

.modal button {
  margin-top: 15px;
  width: 100%;
  background: #2563eb;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.modal button:hover {
  background: #1e40af;
}

